body { 
    margin:0; 
    padding:0;
}

#map { 
    position:absolute; 
    top:0; 
    bottom:0;
    width:100%;
}

.overlay {
    position: absolute;
    z-index: 10;
}

.legend-key {
    position: absolute;
    z-index:10;
}

.container{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: white;
}

#prompt {
    color:white;
    top: 25px;
    right: 375px;
    display: none;
}

#date {
    right: 200px; 
    width: 150px; 
    height: 50px; 
}

#submit {
    right: 100px; 
    width: 90px; 
    height: 50px; 
}

@media(min-width: 768px) {
    #submit, #date {
        top: 30px;
    }
    #prompt { 
        display: block;
    }
}

.popup {
    max-width: 400px;
    z-index: 10;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.popup h3 {
    text-align: center;
}
