 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Speed Visualizer</title>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />
	<link href="{{ url_for ('static', filename='main.css') }}" rel='stylesheet' />
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  </head>
  <body>

    <div id='map'></div>

    <form id='form'>
	  <input type="date" id='date' class='overlay'>
	  <input type="submit" id='submit'class='overlay' value='Submit'>
	</form> 

	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>
    <script type='text/javascript' src="{{ url_for('static', filename='map.js') }}"></script>
  </body>
</html>

